@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-3xs-6: 9.6px;
  --font-size-sm-5: 13.5px;
  --font-size-xs-3: 11.3px;
  --font-size-mini-6: 14.6px;
  --font-size-smi-4: 12.4px;
  --font-size-4xs: 9px;
  --font-size-lgi-2: 19.2px;
  --font-size-13xl-7: 32.7px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-mid-9: 17.9px;
  --font-size-31xl-2: 50.2px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-sm-4: 13.4px;
  --font-size-base-7: 16.7px;
  --font-size-5xl-9: 24.9px;
  --font-size-7xl-7: 26.7px;
  --font-size-13xl-4: 32.4px;
  --font-size-mid-8: 17.8px;
  --font-size-2xl-4: 21.4px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #415149;
  --color-black: #000;
  --color-silver: #bdc1ca;
  --color-gray-100: #fefeff;
  --color-gray-200: #171a1f;
  --color-gray-300: #181818;
  --color-crimson-100: #e12e2e;
  --color-crimson-200: #e71f25;
  --color-lightcoral: #df6e72;
  --color-azure: #f2ffff;
  --color-aliceblue: #edf3f9;
  --color-ghostwhite: #f7faff;
  --color-dimgray: #565d6d;
  --color-whitesmoke-100: #f3f3f3;
  --color-snow: #fff6f6;
  --color-lightpink: #fcbabb;

  /* Gaps */
  --gap-6xs-6: 6.6px;
  --gap-12xl-5: 31.5px;
  --gap-base: 16px;
  --gap-4xs-9: 8.9px;
  --gap-9xs-8: 3.8px;
  --gap-28xl-6: 47.6px;
  --gap-5xl: 24px;
  --gap-sm-8: 13.8px;
  --gap-2xs-9: 10.9px;
  --gap-7xs-9: 5.9px;
  --gap-xl: 20px;
  --gap-10xs-2: 2.2px;
  --gap-base-8: 15.8px;
  --gap-6xs-3: 6.3px;
  --gap-6xs-7: 6.7px;
  --gap-36xl-6: 55.6px;
  --gap-9xl: 28px;
  --gap-22xl-1: 41.1px;
  --gap-2xl: 21px;
  --gap-base-6: 15.6px;
  --gap-10xl-5: 29.5px;
  --gap-base-7: 16.7px;
  --gap-10xs-1: 2.1px;
  --gap-7xs: 6px;
  --gap-20xl-2: 39.2px;
  --gap-5xs-1: 7.1px;
  --gap-35xl-2: 54.2px;
  --gap-base-1: 16.1px;
  --gap-25xl-6: 44.6px;
  --gap-3xl: 22px;
  --gap-18xl-3: 37.3px;
  --gap-lgi: 19px;
  --gap-20xl-4: 39.4px;
  --gap-36xl-7: 55.7px;
  --gap-lg-9: 18.9px;

  /* Paddings */
  --padding-4xl-4: 23.4px;
  --padding-11xs-5: 1.5px;
  --padding-662xl: 681px;
  --padding-4xs-4: 8.4px;
  --padding-321xl: 340px;
  --padding-151xl: 170px;
  --padding-xl: 20px;
  --padding-11xl-4: 30.4px;
  --padding-11xs-7: 1.7px;
  --padding-8xl: 27px;
  --padding-3xs: 10px;
  --padding-11xs-2: 1.2px;
  --padding-11xs: 2px;
  --padding-26xl: 45px;
  --padding-12xs: 1px;
  --padding-10xs-3: 2.3px;
  --padding-6xl: 25px;
  --padding-6xs: 7px;
  --padding-xs: 12px;
  --padding-mini-9: 14.9px;
  --padding-38xl: 57px;
  --padding-10xs-2: 2.2px;
  --padding-8xs: 5px;
  --padding-11xs-8: 1.8px;
  --padding-9xs-3: 3.3px;
  --padding-6xs-7: 6.7px;
  --padding-mini: 15px;
  --padding-6xs-8: 6.8px;
  --padding-lg: 18px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
  --padding-2xs: 11px;
  --padding-7xs-1: 5.1px;
  --padding-10xs: 3px;
  --padding-2xs-1: 10.1px;
  --padding-298xl: 317px;
  --padding-316xl: 335px;
  --padding-148xl: 167px;
  --padding-139xl: 158px;
  --padding-11xs-1: 1.1px;
  --padding-5xs: 8px;
  --padding-25xl: 44px;
  --padding-10xs-8: 2.8px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-8xl-9: 27.9px;
  --padding-3xl: 22px;
  --padding-26xl-8: 45.8px;
  --padding-2xl: 21px;
  --padding-11xl: 30px;
  --padding-5xs-8: 7.8px;
  --padding-40xl-2: 59.2px;
  --padding-157xl: 176px;
  --padding-69xl: 88px;
  --padding-45xl-8: 64.8px;
  --padding-lgi: 19px;
  --padding-2xl-6: 21.6px;
  --padding-7xl-8: 26.8px;
  --padding-24xl-5: 43.5px;
  --padding-9xl: 28px;
  --padding-42xl-5: 61.5px;
  --padding-xl-5: 20.5px;
  --padding-4xl: 23px;
  --padding-7xs: 6px;
  --padding-24xl: 43px;
  --padding-30xl-3: 49.3px;
  --padding-3xs-9: 9.9px;
  --padding-9xs-5: 3.5px;
  --padding-lg-9: 18.9px;
  --padding-7xs-6: 5.6px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-mini-3: 14.3px;
  --padding-smi-5: 12.5px;
  --padding-sm-3: 13.3px;
  --padding-3xl-4: 22.4px;
  --padding-4xs-9: 8.9px;

  /* Border radiuses */
  --br-4xs: 9px;
  --br-10xs-3: 2.3px;
  --br-8xs-5: 4.5px;
  --br-9xs-4: 3.4px;
  --br-6xs-7: 6.7px;
  --br-10xs-2: 2.2px;
  --br-9xs-6: 3.6px;
  --br-5xs-1: 7.1px;
}
